* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
}

/*#menu {
    background: white;
    width: 30px;
    height: 3px;
    margin: 3px;

}*/

.header {
    background: #1a202c;
    padding: 10px 0px 10px 20px;
    font-size: 2rem;
}

.main {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    background: #2d3748;
    height: 100vh;
    flex: 0.1;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.mainpage {
    flex: 0.9;
}

#page {
    display: flex;
    flex-direction: column;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: ;
    flex: 0.95;
    align-items: center;
}

.form {
    background: #4a5568;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

input[type=text], input[type=password] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 15px;
    font-size: 20px;
}

button {
    border: none;
    padding: 10px;
    font-size: 20px;
    margin: 20px;
}

.footer {
    display: flex;
    background: #1a202c;
    flex: 0.05;
    justify-content: center;
    align-items: center;
}

